.bookInformationComponentStyle {
    border-width: 2px;
    border-color: #f0f0f5;
    border-style: solid;
    padding: 10px 15px 15px 10px;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    background: white;
    text-align: center;
}

.rowStyle {
    margin-top: 3px;
}

.rowButtonStyle {
    margin-top: 10px;
    justify-content: center;
}